@charset "UTF-8";
/* index.html */
.textRed{
    color:#FF0000;
}

/* index_show.html */
.show,.fadein,.fadein1000,.fadeincss,.fadeincss1000{
    display:none;
}

#dlbox{
    width:200px;
    height:100px;
}

#dtpa{
    background-color:aquamarine;
    cursor: pointer;
}

#ddchi{
    margin:auto;
    background-color: azure;
}

#anmo{
    width:40px;
    height:40px;
    background-color: chartreuse;
    position: absolute;
    left:0;
}

/* index_toggleMenu.html */
#togbody{
	font-family:Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
    background-color: turquoise;
    margin:0;
}

#headimg h1{
	padding:20px 25px;
    margin-top:20px;
	color:#FFF;
	background:turquoise;
	font-weight:bold;
}

#showimg{
	position:absolute;
	top:17px;
	right:25px;
	background-color:turquoise;
	border:none;
	cursor:pointer;
}

#showimg:focus{
	outline:none;
}

#ulimg{
	display:none;
	list-style-type:none;
    padding:0;
}

#ulimg li a:hover{
    color:darkorange;
    font-weight: bolder;
    background-color: rgb(198, 241, 237);
}


#ulimg li a{
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding:17px 25px;
	color:#FFF;
	background:rgb(151, 238, 229);
	border-bottom:1px solid white;
}

#ulimg li:last-child a{
    border-bottom:1px solid white;
}

main{
	display:block;
	padding:10px 20px 20px;
	color:black;
}

.content{
    margin-bottom:50px;
    line-height:2em;
}

/* index_alertBox.html */
#bg{
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
}

#alertBox{
    margin:240px auto 0;
    text-align: center;
    padding-top:25px;
    width:300px;
    height:105px;
    background:#FFF;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}


#albody{
    position: relative;
    height:100vh;
    width:100vw;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: rgb(52, 175, 106);
}
#aldiv{
    margin:auto;
    position: absolute;
    top:35%;
    left:35%;
}
#alh1{
    font-size:600%;
    padding:0;
    margin:0;
    color:rgb(121, 247, 90);
    text-shadow: 4px 8px 2px rgba(0,0,0,.3);

}

#alclick{
    padding:15px 20px;
    font-size: 20px;
    border-radius: 2em;
    background-color: rgb(45, 172, 100);
    color:rgb(202, 231, 156);
    border:none;
    box-shadow:3px 3px 2px rgba(6, 36, 21, 0.726);
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#whiteshadow{
    margin: auto;
    border-radius: 2em;
    width:123px;
    box-shadow: -1px -2px 3px rgba(255, 255, 255, 0.733);
}
#ok{
    background-color: salmon;
    padding: 5px 15px;
    border-radius: 2px;
    color:snow;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
}
